body {
    background-color: #777 !important; 
}

main {
    background-color: #f1f1f1;
    padding: 3vh 5vw;
    margin: 2vh 5vw;
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
}

.heading-caps {
    text-transform: uppercase;
}

.heading-w-divider {
    overflow: hidden;
}

.heading-w-divider:after {
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
  }

.name {
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 0.1em;
}

.tags-container {
    margin-bottom: 1rem;
}